<!DOCTYPE html>
<html>
<head>
<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>PV统计</title>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>

</head>

<body>
    {% include '/admin/top_banner.html' %}

    <div class="ui grid equal width aligned padded">
        {% include '/admin/left_menu.html' %}
        <div class="thirteen wide column">
            <table class="ui celled table">
                <tr>
                    <td>
                        <div class="ui menu">
                            <a class="item" href="javascript:void(0)" id="share" link_id={{ tplData.link_info.link_id }}><i class="share alternate square icon large"></i></a>
                            <div class="ui dropdown item">{{ tplData.link_info.link_tag }}<i class="dropdown icon"></i>
                                <div class="menu">
                                    {% for info in tplData.urls %}
                                    <a class="item" data-value="{{ url_for('admin.adminStatPV', linkID=info.link_id, date=tplData.date) }}">{{ info.link_tag }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <a href="{{ url_for('admin.adminStatPV', linkID=tplData.link_id, date=tplData.date1) }}" class="item active red">PV统计</a>
                            <a href="{{ url_for('admin.adminStatPlatform', linkID=tplData.link_id, date=tplData.date1) }}" class="item">平台统计</a>
                            <a href="{{ url_for('admin.adminStatBrowser', linkID=tplData.link_id, date=tplData.date1) }}" class="item">环境统计</a>
                            <a href="{{ url_for('admin.adminStatAddr', linkID=tplData.link_id, date=tplData.date1) }}" class="item">地区统计</a>
                            <a href="{{ url_for('admin.adminStatViewHistory', linkID=tplData.link_id, date=tplData.date1, page=1) }}" class="item">浏览记录</a>
                            <div class="right menu">
                                <a href="{{ url_for('admin.adminStatPV', linkID=tplData.link_id, date=tplData.date1) }}" class="item {% if tplData.date==tplData.date1 %}active red{% endif %}">今日</a>
                                <a href="{{ url_for('admin.adminStatPV', linkID=tplData.link_id, date=tplData.date7) }}" class="item {% if tplData.date==tplData.date7 %}active red{% endif %}">近7天</a>
                                <a href="{{ url_for('admin.adminStatPV', linkID=tplData.link_id, date=tplData.date30) }}" class="item {% if tplData.date==tplData.date30 %}active red{% endif %}">近30日</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="ui tiny modal">
                <div class="header">共享此统计数据</div>
                <div class="content">
                    <form class="ui form">
                        <div class="inline field">
                            <label>过期时间:</label>
                            <input id="share_limit_date" type="text" name="limit_date" placeholder="过期时间" value="9999-12-31">
                        </div>
                    </form>
                    <div id="share_url"></div>
                </div>
                <div class="actions">
                    <div id="set_share_button" class="ui button blue">设置</div>
                    <div class="ui cancel button">关闭</div>
                </div>
            </div>

            <div id="container" style="height:500px;"></div>
            <!--
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>时间</th>
                        <th>PV</th>
                        <th>UV</th>
                        <th>IP</th>
                    </tr>
                </thead>

                <tbody>
                    {% for info in tplData.list %}
                    <tr>
                        <td>{{ info.date }} {{ info.time }}</td>
                        <td>{{ info.pv }}</td>
                        <td>{{ info.uv }}</td>
                        <td>{{ info.ip }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            -->
        </div>
    <div>

</body>

<script>
times = {{ times|tojson }};
pvs = {{ pvs }};
uvs = {{ uvs }};
ips = {{ ips }};

$(document).ready(function() {
    $('.ui.dropdown').dropdown({
        action: function(text, value) {
          // nothing built in occurs
          //console.log(text);
          //console.log(value);
          location.href=value;
        }
    });

    $("[id=share]").click(function(){
        linkID = $(this).attr('link_id');
        $('#share_url').html('');
        $('.tiny.modal').modal('show');
    });

    $("#set_share_button").click(function(){
        limitDate = $("#share_limit_date").val();
        getShareUrl(linkID, limitDate);
    });

    showChart();
});

function getShareUrl(linkID, limitDate)
{
    $('#share_url').html('');
    $.post("/a/setshareurl", {'link_id':linkID, 'limit_date':limitDate}, function(data){
        if(data.errno > 0)
        {
            $('#share_url').html(data.error);
        }
        else
        {
            shareUrl = '{{ request.host_url }}s/statpv/key/' + data['key'];
            $('#share_url').html(shareUrl);
        }
    }, 'json');
}

function showChart()
{
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['PV', 'UV', 'IP']
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: times
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value}'
            }
        },
        series: [
            {
                name: 'PV',
                type: 'line',
                data: pvs,
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            },
            {
                name: 'UV',
                type: 'line',
                data: uvs,
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            },
            {
                name: 'IP',
                type: 'line',
                data: ips,
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            }
        ]
    };

    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
}
</script>
</html>
