<!DOCTYPE html>
<html>
<head>
<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>PV统计 - 共享</title>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>

</head>

<body>
    <div class="ui grid equal width aligned padded">
        <div class="sixteen wide column" style="text-align:center;">
            <span style="font-weight:bolder;">{{ tplData.title }}</span>
            <br />
            <span style="color:red;">过期时间:{{ tplData.limit_date }}</span>
        </div>
    </div>

    <div class="ui grid equal width aligned padded">
        <div class="sixteen wide column">
            <table class="ui celled table">
                <tr>
                    <td>
                        <div class="ui menu">
                            <a href="{{ url_for('share.shareStatPV', key=tplData.key, date=tplData.date) }}" class="item active red">PV统计</a>
                            <a href="{{ url_for('share.shareStatPlatform', key=tplData.key, date=tplData.date1) }}" class="item">平台统计</a>
                            <a href="{{ url_for('share.shareStatBrowser', key=tplData.key, date=tplData.date1) }}" class="item">环境统计</a>
                            <a href="{{ url_for('share.shareStatAddr', key=tplData.key, date=tplData.date1) }}" class="item">地区统计</a>
                            <div class="right menu">
                                <a href="{{ url_for('share.shareStatPV', key=tplData.key, date=tplData.date1) }}" class="item {% if tplData.date==tplData.date1 %}active red{% endif %}">今日</a>
                                <a href="{{ url_for('share.shareStatPV', key=tplData.key, date=tplData.date7) }}" class="item {% if tplData.date==tplData.date7 %}active red{% endif %}">近7天</a>
                                <a href="{{ url_for('share.shareStatPV', key=tplData.key, date=tplData.date30) }}" class="item {% if tplData.date==tplData.date30 %}active red{% endif %}">近30日</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <div id="container" style="height:500px;"></div>
            <!--
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>时间</th>
                        <th>PV</th>
                        <th>UV</th>
                        <th>IP</th>
                    </tr>
                </thead>

                <tbody>
                    {% for info in tplData.list %}
                    <tr>
                        <td>{{ info.date }} {{ info.time }}</td>
                        <td>{{ info.pv }}</td>
                        <td>{{ info.uv }}</td>
                        <td>{{ info.ip }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            -->
        </div>
    <div>

</body>

<script>
times = {{ times|tojson }};
pvs = {{ pvs }};
uvs = {{ uvs }};
ips = {{ ips }};

$(document).ready(function() {
    $('.ui.dropdown').dropdown({
        action: function(text, value) {
          // nothing built in occurs
          //console.log(text);
          //console.log(value);
          location.href=value;
        }
    });

    showChart();
});

function showChart()
{
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['PV', 'UV', 'IP']
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: times
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value}'
            }
        },
        series: [
            {
                name: 'PV',
                type: 'line',
                data: pvs,
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            },
            {
                name: 'UV',
                type: 'line',
                data: uvs,
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            },
            {
                name: 'IP',
                type: 'line',
                data: ips,
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }
            }
        ]
    };

    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
}
</script>
</html>
